<%- include('partials/_header') -%>
<body>
	<%- include('partials/_nav')-%>
		<h2>SQL from Our Apps</h2>
		<form action="/add/pets" method="POST" style="padding-left: 20px;">
			<label for="">Name:</label>
			<input type="text" name="name">
			<br>
			<label for="">Species:</label>
			<select name="species" id="">
				<option value="cat">Cat</option>
				<option value="dog">Dog</option>
				<option value="bird">Bird</option>
			</select>
			<br>
			<label for="">Breed</label>
			<input type="text" name="breed">
			<br>
			<label for="">Sex</label>
			<select name="sex" id="">
				<option value="m">Male</option>
				<option value="f">Female</option>
			</select>
			<br>
			<label for="">age</label>
			<input type="number" name="age" >
			<br>
			<!-- <label for="">User</label>
			<input type="number" name="user_id" >
			<br> -->
			<button>Add</button>
		</form>
		<a href="/getusers">See all users</a>
		<a href="/getpets">See all pets</a>

		<form action="/pets/search" method="POST">
			<label for="">Name</label>
			<input type="text" name="name">

			<button>Search</button>
		</form>

		<div class="results"></div>

<!-- 		

		<ul class="results">
			<% if(resp) { %>
				<% for (let user of resp.rows) { %>
					<li><%= user.name %> </li>
				<% } %>
			<% } %>
		</ul> -->
</body>
<%- include('partials/_footer')-%>